openapi: 3.0.4
info:
  title: Keyword Extractor
  description: >-
    Keyword Extractor is a simple tool for extracting keywords from a web page.
    It returns the keywords and the frequency of each keyword.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/keywordextractor:
    post:
      summary: Extract Keywords from Text
      description: Extract keywords from a body of text
      operationId: keywordextractor
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  url: https://en.wikipedia.org/wiki/Email_address
                  keywordCount: 50
                  topKeyword: email
                  totalOccurrences: 672
                  keywords:
                    email: 94
                    address: 61
                    mail: 52
                    domain: 34
                    addresses: 34
                    characters: 27
                    retrieved: 27
                    internet: 17
                    message: 15
                    validation: 12
                  topKeywords:
                    - keyword: email
                      count: 94
                      percentage: 14
                    - keyword: address
                      count: 61
                      percentage: 9.1
                    - keyword: mail
                      count: 52
                      percentage: 7.7
                    - keyword: domain
                      count: 34
                      percentage: 5.1
                    - keyword: addresses
                      count: 34
                      percentage: 5.1
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The text to extract keywords from
              required:
                - text
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  url: https://en.wikipedia.org/wiki/Email_address
